.container {
    display: flex;
    flex-flow: row wrap;
}
.productContainer {
    width: 31%;
    margin: 0 auto;
}
.card-img-top {
    width: 100%;
    height: 200px;
    padding: 0.925em;
}
.flex-event {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}