#About {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(58,58,58,1);
    color: white;
    padding: 0.925em;
    width: 80%;
    border-radius: 12px;
    font-size: 18px;
    letter-spacing: 2px;
    border: 2px solid blue;
}

#About hr {
    width: 100%;
    background-color: white;
}
.blue {
    background-color: #007bff !important;
}
@media screen and  (max-width: 500px) {
    #About {
        text-align: center;
        padding: 0 27px;
    }
    #About p {
        font-size: 1em !important;
    }
  }