#About {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 auto;
    background-color: rgba(51,58,64,1);
    color: white;
    padding: 0.925em;
    width: 80%;
    font-family: fantasy;
    border-radius: 12px;
    font-size: 18px;
    letter-spacing: 2px;
}
#About hr {
    width: 100%;
    background-color: white;
}