 .card {
    align-items: center;
    border: 2px solid blue;
    display: flex;
    flex-flow: column nowrap;
    height: 450px !important;
}
.eventContainer > div.card:hover {
    border: 2px solid rgba(51,58,64,1);
    transform: scale(1.1);
}
.flex-event {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
#Events {
    display: flex;
    flex-flow: row wrap;
}
@media screen and (max-width: 860px) {
    #Events {
      flex-flow: column wrap !important;
    }
    .eventContainer {
        width: 50% !important;
    }
    .card {
        height: 500px !important;
        overflow: auto;
    }
    
  }
  