.html {
  height: 100%;

}
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 16px !important;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgba(0,0,0,1);
  color: white;
}
body.modal-open {
  overflow: hidden !important;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.flex-h {
  display: flex;
  justify-content: center;
  align-items: center;
}
.align-flex-end {
  align-items: flex-end;
}
button:focus, .btn:focus {
  outline: none;
}
.header-footer {
  height: 50px;
  padding: 10px;
  margin: 15px 0;
  color: grey;
  font-size: 18px;
  text-align: center;
}
/*  UNIVERSAL CSS */
.flex {
  display: flex;
}
.flexCol {
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;    
  width: 100%;
}
.flexRow {
  flex-flow: row wrap;
  justify-content: center;
}
.flexRow button {
  margin: 0 2em;
}
.card {
  margin: 0.925em !important;
  width: 100% !important;
  max-height: 100%;
  align-items: center;
  color: black;
}
.card:last-child {
  
}
.card-body {
  width: 100% !important;
  margin-top: auto;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
}
.card-img-top {
  width: 90%;
  padding: 0.925em;
}
.card-text {
  padding: 0 0.925em;
  text-align: justify;
}
.card-title {
  width: 100%;
  text-align: center;
  font-size: 1em;
}
.cart-item {
  width: 90%;
  height: 150px !important;
}
.fullWidth {
  width: 100%;
}
.ml1 {
  margin-left: 1em;
}
.btn.btn-default {
  background-color: lightblue;
}
input:not([type="number"]){
  border: 2px solid blue;
}
.btn.btn-default {
  background-color: #28a745;
}
.btn.disabled, .btn:disabled {
  border: 1px solid red;
}
.btn.checkout {
  width: 78px;
  height: 38px;
}
.navColor > a {
  font-family: 'Pacifico', cursive;
}
@media screen and (max-width: 400px) {
  .flex-event.info {
    height: 5em;
    width: 100%;
    flex-flow: column nowrap;
    text-align: center !important;
    align-items: inherit;
  }
  .flex-event p.card-text {
    width: 100%;
  }
  .flex-event .btn {
    width: 178px;
    height: 38px;
  }
  .card-text {
    text-align: center;
  }
  .card-text .btn {
    top: -0.3em;
    position: relative;
  }
  .logo {
    padding: .5rem 1rem;
    font-size: 1.6em;
  }
}
